footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 0%; 
}
.derechos{
    color: white;
    padding-top: 2%;
    margin-left: 2%;
}

.terminos, .politicas{
    margin: 0;
    margin-right: 2%;
    margin-top: 2%;
    color: white;
}